<div class="header w-full bg-black p-3 flex font-poppins justify-between border-b-2 border-b-secondary-variant-bg items-center h-full">

  <!-- Website Name and Logo -->
  <div class="logo-appname w-fit md:w-5/12 h-full flex items-center cursor-pointer hover:brightness-75 max-w-[350px]">
    <div class="logo">
      <img
        src="../../assets/Images/logo.png"
        alt="Logo"
        class="min-w-[40px] w-[40px] aspect-square"
      />
    </div>
    <div class="title text-primary-text pl-2 text-lg font-medium">
      Analytics Dashboard System
    </div>
  </div>

  <!-- User Profile -->
  <div class="user-profile-container w-fit flex justify-between space-x-2 pl-8 pr-4 items-center" *ngIf="user">
    <!-- <div class="aspect-square min-w-10 min-h-10 rounded-full bg-secondary-bg border-solid border-secondary-variant-bg border-2 flex items-center justify-center cursor-pointer hover:brightness-75">
      <i class="fa-solid fa-clock-rotate-left fa-lg top-[0.5px] relative" style="color: #c6c8c7;"></i>
    </div> -->
    <div class="w-fit flex justify-between space-x-2 items-center relative" (click)="swapUserDropdown()" #userProfileDropdown>
      <div class="aspect-square min-w-10 rounded-full bg-secondary-bg border-solid border-secondary-variant-bg border-2 flex items-center justify-center cursor-pointer hover:brightness-75">
        <p class="text-secondary-text relative text-lg">DU</p>
      </div>
      <div class="text-secondary-text py-2 relative text-sm">
        <div class="md:flex justify-between cursor-pointer hidden items-center">
          <p class="font-semibold w-full mr-1">{{localstorage.getItem(user)}}</p>
          <!--  -->
        </div>
        <div class="font-extralight hidden md:block">
          <em>{{localstorage.getItem(email)}}</em>
        </div>
      </div>
      <div class="bg-primary-bg border-solid border-[1px] border-secondary-variant-bg p-1 hover:brightness-75 cursor-pointer absolute w-18 rounded-sm text-secondary-text top-14 md:w-full right-0 space-y-1" *ngIf="isUserDropdownActive">
        <div class="flex items-center space-x-2 p-2">
          <i class="fa-solid fa-clock-rotate-left fa-sm" style="color: #ffffff;"></i>
          <p>Saved Files</p>
        </div>
        <div class="flex items-center space-x-2 p-2">
          <i class="fa-solid fa-right-from-bracket"></i>
          <p>Logout</p>
        </div>
      </div>
    </div>
  </div>
</div>