  <!-- Upload Field -->
  <div class="upload-field bg-secondary-bg border-solid border-2 border-primary-color max-w-56 w-4/12 hidden md:flex justify-between items-center px-2 relative h-10">
    <button type="file" id="upload-field" class="bg-transparent text-primary-text w-18 font-light text-xs">Upload</button>
    <select name="upload-field-document-type" id="upload-field-type" class="custom-select w-12 p-0">
      <option value="file">File</option>
      <option value="plugin">Plugin</option>
    </select>
    <select name="upload-field-extension-type" id="upload-field-extension" class="custom-select w-12 p-0">
      <option value="xlsx">.xlsx</option>
      <option value="xls">.xls</option>
    </select>
  </div>