<div class="border-solid border-l-0 border-2 border-secondary-variant-bg  bg-secondary-bg pl-2 pr-10 rounded-e-xl py-4 relative text-sm h-full">
    <h1 class="text-primary-text font-semibold text-lg">Upload a File</h1>
    <div class="mt-4 border-solid border-secondary-variant-bg border-2 rounded-md w-full mx-4">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="flex space-x-2 p-2 items-center">
            <label for="selectedPlugin" class="w-2/12 text-md text-primary-text">Plugin :</label>
            <select formControlName="selectedPlugin" (change)="onOptionSelect()"
            class="p-2 w-1/2 text-md rounded-md focus:outline-none">
              <option value="">Choose a Plugin</option>
              <option value="excel">Excel</option>
            </select>
          </div>
            
            <div *ngIf="myForm.get('selectedPlugin').value">
              <div class="flex space-x-2 p-2 items-center">
                <label for="selectedPlugin" class="w-2/12 text-md text-primary-text">File :</label>
                <input type="file" formControlName="file" class="py-2 w-1/2 text-md text-primary-text rounded-md focus:outline-none"/>
              </div>
             <div class="flex w-full justify-end p-2">
              <button type="submit" [disabled]="!myForm.valid"
              class="py-2 px-4 bg-primary-color text-md text-black font-medium rounded-md">Upload</button>
             </div>
            </div>
          </form>
    </div>
    <button class="bg-primary-color rounded-md px-4 py-2 font-semibold absolute right-3 bottom-3 hover:brightness-90" routerLink="/dashboard" >Continue</button>
  </div>
  