<div class="bg-primary-bg border-solid border-r-2 border-secondary-variant-bg pl-4 pr-8 py-8 h-full" [ngClass]="{'hidden': isCollapsed}">
  <div class="flex flex-col text-primary-color justify-start space-y-6">
    <div class="flex h-9 space-x-2 cursor-pointer hover:brightness-75" *ngFor="let chartType of chartTypes">
      <div class="aspect-square min-w-9 bg-secondary-bg border-2 border-secondary-variant-bg flex items-center justify-center ">
        <img width="28" height="28" src="{{ chartType.iconValue }}" alt="{{ chartType.iconAltValue }}"/>
      </div>
      <p class="text-lg font-semibold w-fit whitespace-nowrap">{{ chartType.chartName }}</p>
    </div>
    <!-- grid grid-cols-[35px_120px] auto-rows-[36px] -->
  </div>
</div>
<div class="border-solid border-2 border-secondary-variant-bg rounded-e-2xl py-5 px-1.5 cursor-pointer" (click)="collapseWidgetPicker()">
  <i *ngIf="!isCollapsed else collapsed" class="fa-solid fa-caret-left" style="color: #32f0dc;"></i>
  <ng-template #collapsed>
    <i class="fa-solid fa-caret-right" style="color: #32f0dc;"></i>
  </ng-template>
</div>