<div class="border-solid border-l-0 border-2 border-secondary-variant-bg h-full bg-secondary-bg pl-2 pr-10 rounded-e-xl py-4 relative">
  <h1 class="text-primary-text font-semibold text-lg">Available Plugins</h1>
  <div class="mt-4 border-solid border-secondary-variant-bg border-2 rounded-md w-full mx-4 space-x-2">
    <div class="flex text-primary-color p-4 bg-primary-bg">
      <div class="name w-1/2">Plugin Name</div>
      <div class="supported-files ">Supported File Types</div>
    </div>
    <div class="flex text-primary-text p-4">
      <div class="name w-1/2">Excel Plugin</div>
      <div class="supported-files">.xlsx, .xls, .csv</div>
    </div>
    <div class="flex text-primary-text p-4 bg-primary-bg">
      <div class="name w-1/2">Placeholder Plugin</div>
      <div class="supported-files">Plugin Type</div>
    </div>
    <div class="flex text-primary-text p-4">
      <div class="name w-1/2">Placeholder Plugin</div>
      <div class="supported-files">Plugin Type</div>
    </div>
    <div class="flex text-primary-text p-4 bg-primary-bg">
      <div class="name w-1/2">Placeholder Plugin</div>
      <div class="supported-files">Plugin Type</div>
    </div>
  </div>
  <button class="bg-primary-color rounded-md px-4 py-2 font-semibold absolute right-3 bottom-3">Continue</button>
</div>
