<div class="w-full h-[90%] block">
  <div class="flex bg-primary-bg w-full h-full item" [ngClass]="{'justify-center': (isNewLogin | async), 'justify-between': !(isNewLogin | async)}">
    <app-toolbar class="flex items-center" *ngIf="!(isNewLogin | async)"></app-toolbar>
    <!-- <app-upload-file-and-plugin></app-upload-file-and-plugin> -->
    <div class="w-full h-full">
      <router-outlet></router-outlet>
    </div>
    <app-control-panel class="right-0 flex items-center w-fit" *ngIf="!(isNewLogin | async)"></app-control-panel>
  </div>
</div>
