<div class="w-full h-full block">
  <!-- <button class="bg-white h-[5%]" routerLink="/plugin-and-file-manager">Navigate</button> -->
  <div class="flex bg-primary-bg w-full h-full">
    <app-dashboard-widget-picker class="flex items-center"></app-dashboard-widget-picker>
    <!-- <app-upload-file-and-plugin></app-upload-file-and-plugin> -->
    <app-dashboard-canvas class="w-full h-full mr-4"></app-dashboard-canvas>
    <app-dashboard-widget-configuration class="right-0 flex items-center w-fit relative h-full"></app-dashboard-widget-configuration>
  </div>
</div>
