<div
  class="border-solid border-l-0 border-2 border-secondary-variant-bg bg-secondary-bg pl-2 pr-10 rounded-e-xl py-4 relative text-sm h-full"
>
  <h1 class="text-primary-text font-semibold text-lg">Available Plugins</h1>
  <div
    class="mt-4 border-solid border-secondary-variant-bg border-2 rounded-md w-full mx-4"
  >
    <div class="flex text-primary-color p-4 bg-primary-bg">
      <div class="name w-1/2">Plugin Name</div>
      <div class="description">Description</div>
    </div>
    <div *ngFor="let plugin of availablePlugins">
      <div class="flex text-primary-text p-4">
        <div class="name w-1/2">{{ plugin.name }}</div>
        <div class="description">{{ plugin.description }}</div>
      </div>
    </div>
  </div>
  <button
    class="bg-primary-color rounded-md px-4 py-2 font-semibold absolute right-3 bottom-3 hover:brightness-90"
    routerLink="/dashboard"
  >
    Continue
  </button>
</div>
